h1 {
    color: rgb(210, 218, 224);
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #1b1b32;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.63);

}

.todo-title {
    color: rgb(210, 218, 224);
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 5px;
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

.todo-title:focus{
    cursor: auto;
    background-color: rgba(240, 248, 255, 0.07);
    color: aliceblue;
}

.tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    background-color: #c7a717e1;
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 26px;
    box-shadow: -4px 4px 3px 2px rgba(0, 0, 0, 0.63);
    text-shadow: 1px 1px 2px #1b1b32;
}

@media (max-width: 599px) {
    .tareas-lista-principal {
        width: 400px;
        min-height: 300px;
    }
  }